================================================

Url: {{ casebox_server_name }}{{ casebox_core }}

Login: root
Password: {{ casebox_default_passw }}

================================================
